body{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

h1{
  padding: 15px;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 568px){
  h1{
    font-size: 1.4em;
  }
}
.container{
  width: 80%;
  margin: auto;
}

.menu{
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
  background: steelblue;
  display: none;
  
}

@media screen and (min-width: 568px){
  .menu{
    display: flex;}
    li{
      text-align: center;
      border-right: 1px solid rgba(0,0,0,0.2);
    }
    a{
      padding-left: 0px;
    }
}


li{
  flex: auto;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

li:last-child{
  border: none;
}

a{
  color: #eee;
  text-decoration: none;
  line-height: 3;
  display: block;
  padding-left: 1em;
}

  a:hover{
    background: rgba(0,0,0,0.2);
  }
#toggle-menu{
  background: rgba(0,0,0,0.7);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  line-height: 2.5;
  color: #fff;
  padding-left: 1em;
  font-size: 0.9em;
  cursor: pointer;
}

@media screen and (min-width: 568px){
  #toggle-menu{
    display: none;
  }
}
